* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

// BREAKPOINT
$tablet: 1024px;
$mobile: 482px;

//COLOR
$primary: #081121;
$secondary: #D3D2C7;
$accent: #F27A18;

//FONT VARIANTS
:root {
 --big-bold: 900 360px/100% 'Inter','sans serif';
 --six-cap: small-caps 400 80px/100% 'Six Caps','sans serif';
 --para: 400 36px 'Inter';
 --normal: 400 24px 'Inter';
 --skew: 500 70px 'Inter';
 --project-title: 900 70px 'Inter';
}

@media only screen and (max-width: $tablet) {
  :root {
    --big-bold: 900 200px 'Inter';
    --six-cap: small-caps 400 100px/100% 'Six Caps';
    --para: 400 32px 'Inter';
    --normal: 400 20px 'Inter';
    --skew: 500 55px 'Inter';
    --project-title: 900 55px'Inter';
  }
}
@media only screen and (max-width: $mobile) {
  :root {
    --big-bold: 900 120px 'Inter';
    --six-cap: small-caps 400 50px/100% 'Six Caps';
    --para: 400 24px 'Inter';
    --normal: 400 16px 'Inter';
    --skew: 500 45px'Inter';
    --project-title: 900 45px'Inter';
  }
}
body {
  overscroll-behavior: none;
  color: $primary
}
a {
  text-decoration: none;
  color: $primary
}
