@use '../../styles/global.module.scss' as v;

.container {
  // pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: fit-content;
  will-change: transform;
  padding: 150px 128px;

  .bigBold {
    width: 100%;
    text-align: right;
    font: var(--big-bold);
    letter-spacing: -15px;
    line-height: 90%;
    // overflow-y: hidden;
    // overflow-x: visible;
    // background-color: bisque;
     
    span {
      display: flex;
      width: fit-content;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      overflow-y: hidden;
      padding-right: 6px;

      span {
        display: inline-block;
        transition: all 0.3s cubic-bezier(0, 0.48, 0.33, 0.99);
        transform: translate(0px, 500px);
        animation: transformStagger 1s cubic-bezier(0, 0.48, 0.33, 0.99) forwards;
        animation-fill-mode: forwards;

      }
      @keyframes transformStagger {
        from {
          transform: translate(0px, 500px);
        }
        to {
          transform: translate(0px, 0px)
        }
      }
    }
  }
  .iam {
    width: fit-content;
    font: var(--six-cap);
    overflow: hidden;

    p {
      transform: translate(0px ,70px);
      animation: iam 1s ease-out forwards;
      animation-delay: 1.5s;
    }
    @keyframes iam {
      from {
        transform: translate(0px, 70px);
      }
      to {
        transform: translate(0px, 0px);
      }
    }
  }
  .profile {
    font: var(--normal);
    width: fit-content;
    overflow: hidden;

    p {
      transform: translate(0, 30px);
      animation: iam 1s ease-out forwards;
      animation-delay: 1.5s;
    }
  }
  .content {
    z-index: 10;
    margin-left: auto;
    width: 40%;
    text-align: justify;
    font: var(--para);

    .CtaButton {
      // cursor: pointer;
      width: fit-content;
      margin-top: 30px;
      text-transform: uppercase;
      font: var(--normal);
    }
  }
  .skewTextContainer {
    width: 45vw;
    user-select: none;
    padding: 30px 0px;
    // transform: translateY(-100px);
  }
  .dividerTitle {
    width: 50%;
    height: fit-content;
    margin: 150px 0px 150px auto;
    font: var(--normal);
    // transform: translate(0px, 100px)
  }
  .projectsContainer {
    height: 50vh;
  }
  .aboutMeCta {
    width: 50%;
    height: fit-content;
    margin-left: auto;
    margin-bottom: 100px;
  }
  @media (max-width: v.$tablet) {
    padding: 100px 75px;
    .dividerTitle {
      margin: 100px 0px 100px auto;
    }
    .projectsContainer {
      height: 40vh;
    }
    .bigBold {
      letter-spacing: 0px;
    }
    .content {
      width: 50%;
    }
  }
  @media only screen and (max-width: v.$mobile) {
    padding: 100px 25px;

    .iam,.profile {
      display: none;
    }
    .bigBold {
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      letter-spacing: -2px;

      span {
        margin: auto;
      }
    }
    .skewTextContainer_mobile {
      display: none;
    }
    &:nth-child(2) {
      display: none;
    }
    .content {
      width: 100%;
    }
    .skewTextContainer {
      width: 100%;
    }
    .dividerTitle {
      display: none;
    }
    .projectsContainer {
      display: none;
    }
    .aboutMeCta {
      width: 100%;
    }
  }
}