@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none
}
html,
body,
:root {
  height: 100%;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  transition: all 0.3s ease-in-out;
}

.rainbow-btn {
  text-align: center;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 2px;
}
.rainbow-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(100deg,#ffa69e, #faf3dd, #b8f2e6, #aed9e0, #FAF3DD, #ffa69e);
  background-size: 50% 100%;
  animation: rainbow-btn .75s linear infinite
}
.rainbow-btn span {
  position: relative;
  z-index: 2;
  padding: 10px;
  text-decoration: none;
  align-items: center;
  background: #000;
  border-radius: 3px;
  display: block;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  font-size: 18px;
  font-family: Inter, 'san-serif'
}

@keyframes rainbow-btn {
  to {
      transform: translateX(-50%)
  }
}