@use '../../../styles/global.module.scss' as v;

.skewTextContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: auto;

  .line1,.line2,.line3 {
    width: 100%;
    text-align: center;
    line-height: 100%;
    letter-spacing: -0.03em;
    font: var(--skew);
    white-space: nowrap;
  }
  .line1 {
    transform: matrix(0.79, -0.35, 0.88, 0.8, -50, 30)
  }
  .line2 {
    transform: matrix(0.99, -0.46, -0.11, 1, 0, 0);
  }
  .line3 {
    transform: matrix(0.79, -0.35, 0.88, 0.8, 50, -20)
  }
  .outline {
    color: v.$secondary;
    // -webkit-text-stroke: 1px black;
    text-shadow: -1px 1px 0 v.$primary,
                  1px 1px 0 v.$primary,
                1px -1px 0 v.$primary,
                -1px -1px 0 v.$primary;
  }
  &:hover .outline {
    text-shadow: -1px 1px 0 v.$accent,
                  1px 1px 0 v.$accent,
                1px -1px 0 v.$accent,
                -1px -1px 0 v.$accent;
  }
  .inspiration {
    transform: matrix(0.79, -0.35, 0.88, 0.8, -80, 40)
  }
  @media only screen and (max-width: v.$mobile) {
    width: 100%;
    .line1 {
      transform: matrix(0.79, -0.35, 0.88, 0.8, -55, 30)
    }
    .line2 {
      transform: matrix(0.99, -0.46, -0.11, 1, 0, 0);
    }
    .line3 {
      transform: matrix(0.79, -0.35, 0.88, 0.8, 45, -20)
    }
  }
}