@use '../../styles/global.module.scss' as v;

.container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: fit-content;
  will-change: transform;
  padding: 100px 128px;

  .heroSection {
    margin-top: 50px;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bigBold {
      font: var(--big-bold);
      font-size: 250px;
      line-height: 90%;
      letter-spacing: -15px;
      text-align: left;
      overflow: hidden;
      width: fit-content;
      padding-right: 60px;
      
      br {
        display: none;
      }
      span {
        display: flex;
        width: fit-content;
        justify-content: flex-end;
        align-items: center;
        margin-right: auto;
  
        span {
          display: inline-block;
          transition: all 0.3s cubic-bezier(0, 0.48, 0.33, 0.99);
          transform: translate(0px, 500px);
          animation: transformStagger 1s cubic-bezier(0, 0.48, 0.33, 0.99) forwards;
          animation-fill-mode: forwards;
  
        }
        @keyframes transformStagger {
          from {
            transform: translate(0px, 500px);
          }
          to {
            transform: translate(0px, 0px)
          }
        }
      }
    }
    .status {
      height: 100%;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
  
        .day {
          font: 500 100px 'Inter';
          line-height: 80%;
        }
        .month {
          font: var(--para);
          font-weight: bolder;
        }
        .status {
          font: var(--normal);
        }
      .content {
        font: var(--normal);
        width: 45%;
        text-align: justify;
      }
    }
  }
  .projectCardContainer {
    margin: 200px 0px 0px 0px;
  }
  @media (max-width: v.$tablet) {
    padding: 100px 75px;
    .heroSection {
      height: 20vh;
      .bigBold {
        font: var(--big-bold);
        line-height: 80%;
      }
      .status{
        .date {
          .day {
            font-size: 80px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: v.$mobile) {
    padding: 100px 25px;
    .heroSection {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 40vh;
      .bigBold {
        font: var(--big-bold);
        line-height: 80%;
        letter-spacing: -3px;
        margin-bottom: 20px;
      }
      .status {
        flex-direction: row-reverse;
        align-items: flex-start;
        .content {
          width: 50%;
          height: 100%;
        }
      }
    }
  }

}