@use '../../../styles/global.module.scss' as v;

.navContainer {
  position: fixed;
  padding: 30px 128px 0px 128px;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  z-index: 10;

  .logo {
    cursor: pointer;
    font: var(--normal);
    z-index: 10;
  }
  .status {
    width: fit-content;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font: var(--normal);
    
    p {
      width: fit-content;
    }
    p:not(:last-child) {
      margin-right: 30px;
    }
  }
  .navlinks {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    font: var(--normal);

    li:first-child {
      width: 60px;
      height: 2px;
      background-color: v.$primary;
    }
  
    li:not(:first-child) {
      margin-left: 30px;
    }

    li {
      cursor: pointer;
      position: relative;

      &::after,&::before {
        content: '';
        position: absolute;
        top: 90%;
        right: 0;
        width: 0%;
        height: 2px;
        background: v.$primary;
        transition: all 0.3s ease-in-out
      }
      &:hover::after {
        animation: animateDemo2 0.3s ease-in-out;
      }
      &:hover::before {
        left: 0;
        width: 100%;
        transition: all 0.15s ease-in-out;
        transition-delay: 0.4s;
      }
      @keyframes animateDemo2 {
        0% { left: 0; width: 0%; }
        50% { width: 100%; }
        100% { right: 0; width: 0%; }
      }
      @keyframes animateDemo2-1 {
        0% { width: 0%; }
        100% { width: 100%; }
      }
    }

    &::before {
      display: none;
      content: '';
      position: absolute;
      top: 50%;
      right: 110%;
      transform: translateY(50%);
      width: 60px;
      height: 2px;
      background-color: v.$primary
    }
  }

  .collapseMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: v.$primary;
    color: v.$secondary;
    display: flex;

    .status {
      display: block;
      margin: 0;
      margin-top: 50px;
      margin-bottom: 50px;
      color: v.$secondary;
      font: var(--normal);

      p {
        margin-bottom: 10px;
      }
    }
    .menuNavLinks {
      display: block;
      list-style-type: none;
      font: 800 36px 'Inter';
      color: v.$secondary;
      margin-bottom: 30px;

      li {
        color: v.$secondary;
        margin: 0;
        margin-bottom: 10px;
        width: fit-content;
        position: relative;

        a {
          color: v.$secondary
        }
        &::after,&::before {
          content: '';
          position: absolute;
          top: 90%;
          right: 0;
          width: 0%;
          height: 2px;
          background: v.$secondary;
          transition: all 0.3s ease-in-out
        }
        &:hover::after {
          animation: animateDemo2 0.3s ease-in-out;
        }
        &:hover::before {
          left: 0;
          width: 100%;
          transition: all 0.15s ease-in-out;
          transition-delay: 0.4s;
        }
        @keyframes animateDemo2 {
          0% { left: 0; width: 0%; }
          50% { width: 100%; }
          100% { right: 0; width: 0%; }
        }
        @keyframes animateDemo2-1 {
          0% { width: 0%; }
          100% { width: 100%; }
        }
      }
      // a {
      //   cursor: pointer;
      //   position: relative;
  
      //   &::after,&::before {
      //     content: '';
      //     position: absolute;
      //     top: 90%;
      //     right: 0;
      //     width: 0%;
      //     height: 2px;
      //     background: v.$secondary;
      //     transition: all 0.3s ease-in-out
      //   }
      //   &:hover::after {
      //     animation: animateDemo2 0.3s ease-in-out;
      //   }
      //   &:hover::before {
      //     left: 0;
      //     width: 100%;
      //     transition: all 0.15s ease-in-out;
      //     transition-delay: 0.4s;
      //   }
      //   @keyframes animateDemo2 {
      //     0% { left: 0; width: 0%; }
      //     50% { width: 100%; }
      //     100% { right: 0; width: 0%; }
      //   }
      //   @keyframes animateDemo2-1 {
      //     0% { width: 0%; }
      //     100% { width: 100%; }
      //   }
      // }
    }
    .socialNavLinks {
      list-style-type: none;
      margin-top: 50px;
      
      li,a {
        font: var(--normal);
        color: v.$secondary;
        margin-bottom: 10px;
      }
    }
  }

  @media only screen and (max-width: v.$tablet) {
    padding: 30px 75px 0px 75px;

    .collapseMenu {
      padding: 100px 75px;
    }

    .navlinks {
      display: none;
    }
    .hamburgerMenu {
      cursor: pointer;
      z-index: 10;
      position: relative;
      margin-left: auto;
      width: 40px;
      height: 26px;
      display: grid;
      
      .stack {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: v.$primary;
        margin: auto;
        transition: transform 0.3s ease-in-out;

        &::before,&::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: v.$primary;
          transform-origin: right;
          transition: transform 0.3s ease-in-out;
        }
        &::before {
          top: 13px;
        }
        &::after {
          top: -13px
        }

      }
      [data-att=open] {
        background-color: transparent;
        &::before {
          transform: rotate(40deg);
          background-color: v.$secondary;
        }
        &::after {
          transform: rotate(-40deg);
          background-color: v.$secondary;
        }
      }
    }
  }
  @media (max-width: v.$mobile) {
    padding: 30px 25px 0px 25px;
    .logo {
      font-size: 24px;
    }
    .status {
      display: none;
    }
    .collapseMenu {
      padding: 100px 25px;
    }
  }
}