@use '../../../styles/global.module.scss' as v;

.footerContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  .status {
    font: var(--normal);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 30px;

    .hoverEffect {
      opacity: 0.2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .bar {
        width: 60px;
        height: 2px;
        background-color: v.$primary;
        margin: 0px 10px;
      }
    }

    &:hover .hoverEffect {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }
  .socialMedia {
    margin-bottom: 30px;
    ul {
      font: var(--normal);
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
  .credit {
    font: var(--normal);
    // text-align: left;

    p {
      white-space: none;
    }
  }
  @media only screen and (max-width: v.$mobile) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    height: fit-content
  }
}