@use '../../styles/global.module.scss' as v;

.container {
  width: 100%;
  padding-bottom: 50px;
  
  .bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
  
    .bouncingCtaContainer {
      flex: 1;
    }
    .contentPart {
      flex: 1;

      .title {
        width: fit-content;
        margin-bottom: 50px;
        font: var(--normal);
        overflow: hidden;

        .bold {
          display: inline-block;
          font: var(--project-title);
          display: flex;
          flex-wrap: none;
        }
        // span {
        //   display: inline-block;
        //   overflow: hidden;
        //   width: fit-content;
        //   justify-content: flex-end;
        //   align-items: center;
          
        //   .whitespace{
        //     margin: 0;
        //   }
        //   span {
        //     display: inline-block;
        //     transition: all 0.3s cubic-bezier(0, 0.48, 0.33, 0.99);
        //     transform: translate(0px, 500px);
        //     animation: transformStagger 1s cubic-bezier(0, 0.48, 0.33, 0.99) forwards;
        //   }
        //   @keyframes transformStagger {
        //     from {
        //       transform: translate(0px, 500px);
        //     }
        //     to {
        //       transform: translate(0px, 0px)
        //     }
        //   }
        // }
      }
      .formContainer {
        width: 100%;

        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          input {
            font: var(--normal);
            padding: 10px 5px;
            margin-bottom: 20px;
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid v.$primary;

            &:focus {
              outline: none;
              background-color: transparent;
            }
            &:active {
              background-color: transparent;
            }
          }
          button {
            appearance: none;
            border: none;
            background-color: transparent;
            margin-bottom: 20px;
          }
          .feedback {
            font: var(--normal);
            font-size: 12px;
            opacity: 0;
            animation: fadeIn 0.3s ease-out forwards;

            .error {
              color: red;
            }

            @keyframes fadeIn {
              from {
                display: none;
                opacity: 0
              }
              to {
                display: block;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: v.$mobile) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
      margin: 50px 0px;
    }
  }
}